body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
}

.search-radius-grabber {
	background: red;
	width: 15px !important;
	height: 15px !important;
	-moz-border-radius: 10em;
	-webkit-border-radius: 10em;
	border-radius: 10em;	
}

.photo {
	width: 100px;
	height: 100px;
}